<div class="resume">
  <div class="section header">
    <h1 class="name">{{resume.header.name}}</h1>
    <div class="columns">
      <div class="columns__left">
        <div>{{resume.header.phone}}</div>
        <div>{{resume.header.location}}</div>
      </div>
      <div class="columns__right">
        {{#each resume.header.links as |link|}}
          {{markdown-to-html link}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="section">
    <h3 class="section__title">Experience</h3>

    {{#each resume.experience as |job|}}
      <div class="section__subsection">
        <div class="columns">
          <div class="columns__left">
            <div><strong>{{job.company}}</strong></div>
            <div><em>{{job.title}}</em></div>
          </div>
          <div class="columns__right">
            <div><strong>{{job.location}}</strong></div>
            <div>{{job.date}}</div>
          </div>
        </div>

        <ul class="list">
          {{#each job.details as |detail|}}
            <li class="list__item">{{markdown-to-html detail}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>

  <div class="section">
    <h3 class="section__title">Projects</h3>

    {{#each resume.projects as |project|}}
      <div class="section__subsection">
        <div class="columns">
          <div class="columns__left">
            <div><strong>{{markdown-to-html project.name}}</strong></div>
          </div>
          <div class="columns__right">
            <div>{{project.date}}</div>
          </div>
        </div>
        <ul class="list">
          {{#each project.details as |detail|}}
            <li class="list__item">{{markdown-to-html detail}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>

  <div class="section">
    <h3 class="section__title">Education</h3>

    <div class="columns">
      <div class="columns__left">
        <div><strong>{{resume.education.school}}</strong></div>
        <div>{{resume.education.degree}}</div>
      </div>
      <div class="columns__right">
        <div><strong>{{resume.education.location}}</strong></div>
        <div>{{resume.education.graduationDate}}</div>
      </div>
    </div>
  </div>
</div>
