<div class="hide-when-print">
  <div class="wrapper">
    <div class="print-preview">
      <div class="print-preview--warning {{if showMargins "print-preview--warning-visible"}}">
        {{resume-layout resume=resumeJSON}}
      </div>
    </div>

    <div class="edit-pane">
      <div>
        <fieldset>
          <legend><h2>Edit Resume</h2></legend>
          <label class="edit-pane__description">
            <p>Modify this YAML to automatically update the resume on the left! Print to save a PDF version.</p>
            <p>Want to customize more? Fork the <a href="https://github.com/mariechatfield/resume-builder">source code</a>.</p>
          </label>
          {{ivy-codemirror value=resumeYAML
                           valueUpdated=(action (mut resumeYAML))
                           options=(hash
                             mode="yaml"
                             theme="solarized"
                             lineNumbers=true
                             lineWrapping=true
                             tabSize=2
                           )}}
        </fieldset>

        <fieldset>
          <label for="showMargin">Show Print Margins</label>
          <input id="showMargin" type="checkbox" onInput={{action (mut showMargins) value="target.checked"}}>
        </fieldset>


        <fieldset>
          <button onclick={{action (action "clear")}}>Clear Resume</button>
        </fieldset>
      </div>

      <div class="credits">
        <p>Built with love and Ember.js by <a href="http://mariechatfield.com/">Marie Chatfield</a>.</p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="show-when-print">
  {{resume-layout resume=resumeJSON}}
</div>