<div class="hide-when-print">
  <div class="wrapper">
    <div class="print-preview">
      <div class="print-preview--warning {{if showMargins "print-preview--warning-visible"}}">
        {{resume-layout resume=resumeJSON}}
      </div>
    </div>

    <div class="edit-pane">
      <div>
        <fieldset>
          <legend><h2>Edit Resume</h2></legend>
          <label class="edit-pane__description">
            <p>Modify this YAML to automatically update the resume on the left! Print to save a PDF version.</p>
            {{#if hasLocalStorage}}
              <p>Any changes you make will be saved in your browser's cache — you can close this window and come back to them again later!</p>
            {{/if}}
            <p>Want to customize more? Fork the <a href="https://github.com/mariechatfield/resume-builder">source code</a>.</p>
          </label>
          {{ivy-codemirror value=resumeYAML
                           valueUpdated=(action (action "updateResume"))
                           options=(hash
                             mode="yaml"
                             theme="solarized"
                             lineNumbers=true
                             lineWrapping=true
                             tabSize=2
                           )}}
        </fieldset>

        <div class="edit-pane__styles-toolbox">
          <fieldset>
            <label for="fontSize">Font Size (pt)</label>
            <input id="fontSize"
                   type="number" min="8" max="18" step="0.05"
                   value={{readonly fontSize}}
                   onInput={{action (action "modifyFontSize") value="target.value"}}>
          </fieldset>

          <fieldset>
            <label for="marginSize">Margin Size (in)</label>
            <input id="marginSize"
                   type="number" min="0" max="1" step="0.005"
                   value={{readonly marginSize}}
                   onInput={{action (action "modifyMarginSize") value="target.value"}}>
          </fieldset>

          <fieldset>
            <label for="showMargin">Show Print Margins</label>
            <input id="showMargin" type="checkbox" onInput={{action (mut showMargins) value="target.checked"}}>
          </fieldset>
        </div>

        <fieldset>
          <button onclick={{action (action "clear")}}>Clear Resume</button>
          <button onclick={{action (action "loadSample")}}>Reload Sample Resume</button>
        </fieldset>
      </div>

      <div class="credits">
        <p>Built with love and Ember.js by <a href="http://mariechatfield.com/">Marie Chatfield</a>.</p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="show-when-print">
  {{resume-layout resume=resumeJSON}}
</div>